.service-title{
    margin-bottom: 2rem;
}
.ServicesSection{
    padding-top: 1rem;
    margin-left: 10%;
    .service{
        width: 95%;
        background-color: #191D2B;
        border-left: 1px solid #2e344e;
        border-right: 1px solid #2e344e;
        border-bottom: 1px solid #2e344e;
        border-top: 8px solid #2e344e;
        transition: all .4s ease-in-out;
        @media screen and (max-width:1400px){
            width: 70%;
            margin-bottom: 1rem;
        }
        &:hover{
            border-top: 8px solid #037FFF;
        }
        .service-content{
            padding: 1rem;
            img{
                width: 250px;
                height: 250px;
            }
            .s-title{
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 1px;
                    background-color: #2e344e;
                }
            }
        }
        @media screen and (max-width:800px) {
            .service-content img{
                width: 225px;
                height: 225px;
            }
        }
        @media screen and (max-width:600px) {
            .service-content img{
                width: 200px;
                height: 200px;
            }
        }
        @media screen and (max-width:480px) {
            .service-content img{
                width: 175px;
                height: 175px;
            }
        }
        @media screen and (max-width:420px) {
            .service-content img{
                width: 150px;
                height: 150px;
            }
        }
        @media screen and (max-width:375px) {
            .service-content img{
                width: 125px;
                height: 125px;
            }
        }
        @media screen and (max-width:320px) {
            .service-content img{
                width: 100px;
                height: 100px;
            }
        }
    }
}
.servives-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    @media screen and (max-width:1400px){
        flex-direction: column;
        margin-bottom: 2rem;
    }
}
.contact-title{
    margin-bottom: 2rem;
}
.icons{
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    text-align: center;
    padding: 1.5rem 0;
    @media screen and (max-width:800px){
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width:600px){
        grid-template-columns: repeat(1,1fr);
    }
    .icon-holder{
        margin-right: 2rem;
        .icon{
        font-size: 5rem;
        color: #a4acc4;
        transition: all .4s ease-in-out;
        }
        .mt:hover{
            color: #4285F4;
        }
        .gh:hover{
            color: rgba(212, 45, 212, 0.788);
        }
        .li:hover{
            color: #0077b5;
        }
        .lc:hover{
            color: #eb9e10;
        }
        .hn:hover{
            color: blue;
        }
        .ig:hover{
            color: #8a3ab9;
        }
    }
}