.SkillSection{
    margin-left: 10%;
    padding-top: 3rem;
    .skills-title{
        font-size: 1.5rem;
        width: 50%;
    }
    .profile{
        width: 100%;
        text-align: center;
        margin-top: 1rem;
        img{
            width: 40%;
            border-radius: 10%;
            margin-bottom: 1rem;
        }
    }
}
.skill-container{
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and (max-width: 1000px){
        grid-template-columns: repeat(3,1fr);
    }
    @media screen and (max-width: 800px){
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1,1fr);
    }
}
