.Title{
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 3px;
    margin-left: 10%;
    &::before{
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #0381ff38;
        width: 6rem;
        height: .4rem;
        border-radius: 50px;
       
    }
    &::after{
        content: "";
        bottom: 0;
        position: absolute;
        left: 0;
        background-color: #037FFF;
        width: 3rem;
        height: .4rem;
        border-radius: 50px;
    }
    @media screen and (max-width: 600px){
        font-size: 2rem;
    }
    @media screen and (max-width: 480px){
        font-size: 1.75rem;
    }
    @media screen and (max-width: 420px){
        font-size: 1.5rem;
    }
    @media screen and (max-width: 375px){
        font-size: 1.25rem;
    }
    span{
        position: absolute;
        top: 35%;
        left: 0;
        font-size: 5rem;
        opacity: 0.05;
        @media screen and (max-width: 600px){
            font-size: 4rem;
        }
        @media screen and (max-width: 480px){
            font-size: 3.5rem;
        }
        @media screen and (max-width: 420px){
            font-size: 3rem;
        }
        @media screen and (max-width: 375px){
            font-size: 2.5rem;
        }
        @media screen and (max-width: 350px) {
            font-size: 2rem;
        }
    }
}